@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: lightgrey;
}

main {
    background-color: white;
    height: 550px;
    width: 800px;
    border-radius: 10px;
}

div.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}